{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h2 class="mt-0">
        <span style="color:#0053fa;">Dead-simple </span>
       WebRTC broadcasting.  <br>
From OBS, the browser, or your application.  <br>
Cloud-native and scalable. <br>
        </h2>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <!-- <p class="lead">{{ .Params.lead | safeHTML }}</p> -->
      <p class="meta">A Millicast alternative in 100% MIT Open Source&nbsp;&nbsp;&nbsp;<a href="https://github.com/x186k/deadsfu">GitHub Repo</a></p>

      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{`docs/tutorials/install/` | relURL }}" role="button">Get
        started</a>
      
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Surprisingly Easy</h2>
        <p>We want DeadSFU to be surprisingly easy to use. We go to great lengths to achieve this. Let us know how we
          are
          doing.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Massively Scalable</h2>
        <p>DeadSFU has been designed from the ground-up to be multi-server scalable, and for implementation to also be
          as
          easy as possible.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Broadcasting Ready</h2>
        <p>Real-time audio, video broadcasting is a sweet-spot for DeadSFU. You can create multi-server broadcasting
          systems with a few Docker instances. Auto-scaling systems are possible too.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Cloud Native</h2>
        <p>We encourage using DeadSFU with Docker, because it’s a great way to build multi-server systems. Of course you
          can use binaries or build from source if you prefer.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">No Coding Necessary</h2>
        <p>An HTTP server and a simple HTML/JS broadcast and watch application is built in. You can turn this off if you
          decide to use your own HTML/JS.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Simulcast and Multi-track Switching</h2>
        <p>DeadSFU supports 10 video tracks and one audio track on publisher ingress. Subscribers can receive a single
          video track and ask the SFU to switch between sources. More than 10 tracks can be enabled using a command
          argument.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}